@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
$img: "";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

.box-container {
  width: 540px;
  padding: 35px 50px;
  margin: 15px auto;
  background-color: #ffffff;
  border: 2px solid #f0f0f0;
  display: flex;
  flex-wrap: wrap;

  .title {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    order: 1;
    width: 100%;
    margin-bottom: 42px;
  }

  .price {
    color: black;
    font-size: 32px;
    font-weight: 700;
    order: 2;
    width: 30%;
    span {
      display: block;
      font-size: 28px;
      text-decoration: line-through;
      color: #666666;
    }
  }

  .btn {
    width: 194px;
    height: 72px;
    border-radius: 5px;
    background-color: #8d8a00;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 65px;
    order: 3;

    &::before {
      position: absolute;
      content: "В корзину";
      background: url(../icon_shopping-cart.svg) no-repeat;
      background-position: left center;
      background-size: 25px;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding-left: 40px;
      font-size: 24px;
      font-weight: normal;
      color: white;
      line-height: 1.5;
      white-space: nowrap;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: flex-start;
      color: white;
      font-size: 24px;
    }
  }

  .favorite {
    background: url(../icon_heart.svg) no-repeat;
    background-position: center;
    background-size: 30px;
    // height: 72px;
    width: 7%;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    order: 4;
  }
}

@media screen and (max-width: 560px) {
  .box-container {
    width: 100%;
    padding: 20px;
    .title {
      margin-bottom: 10px;
      font-size: 20px;
    }
    .price {
      width: 100%;
      font-size: 20px;
      span {
        font-size: 16px;
      }
    }
    .btn {
      width: 160px;
      height: 50px;
      margin: 10px 0;
      &::before {
      background-size: 20px;
      font-size: 18px;
      line-height: 1;
      padding-left: 35px;
      }
    }
    .favorite {
      width: 14%;
      margin: 10px 1% ;

    }
  }
}
